.top {
    background-image: url(/images/bg-desktop-dark.jpg);
    width: 100%;
    height: 40vh;
}

.circle {
    background: linear-gradient(hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.checked {
    text-decoration: line-through;
    color: #777;
}